{% extends 'base.html' %}

{% block content %}

    <h1>{{ task_list_name }}</h1>

    <div class="mt-5">
        <a href="{% url 'task-create' %}">add a new task</a>

        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>title</th>
                    <th>status</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <a href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                        </td>

                        <td>{{ task.status }}</td>

                        <td>
                            <a href="{% url 'task-delete' task.id%}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}