{% extends 'base.html' %}

{% block content %}

    <h1>{{ list.date }}</h1>

    <div class="mt-5">

        <div class="list-group">
            <a class="mt-3" href="{% url 'task-create' %}?list_id={{ list.id }}&next={{ request.path|urlencode }}">add a new task</a>
            <a class="mt-3" href="{% url 'task-actual' list.id %}">get task from backlog</a>
        </div>


        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>title</th>
                    <th>status</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <a href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                        </td>

                        <td>
                            <form action="{% url "task-done" task.id %}" method="POST">
                                {% csrf_token %}

                                <input type="hidden" name="next" value="{{ list.id }}" checked="false">

                                {% if task.status %}
                                    <input type="hidden" name="status" id="id_status" value="False" checked="false">
                                {% else %}
                                    <input type="hidden" name="status" id="id_status" value="True" checked="true">
                                {% endif %}
                                <input type="submit" class="btn btn-link" value="{{ task.status }}">
                            </form>
                        </td>

                        <td>
                            <a href="{% url 'task-delete' task.id%}?next={{ request.path|urlencode }}">delete</a> </s>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}