{% extends 'base.html' %}

{% block content %}
    <h1>Backlog</h1>

    {% include 'pagination.html' %}

    <div class="mt-5">
{#        <a href="{% url 'task-create' %}">add a new task</a>#}
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>title</th>
                    <th>deadline</th>
                    <th>list</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>
                            <a href="{% url 'task-update' task.id %}">{{ task.title }}</a>
                        </td>

                        <td>{{ task.deadline }}</td>

                        <td>
                            <a href="{% url 'tasks' task.task_list.id%}">{{ task.task_list.date }}</a>
                        </td>

                        <td>
                            <a href="{% url 'task-delete' task.id%}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}