{% extends 'base.html' %}

{% block content %}
    <h1>Backlog</h1>

    {% include 'pagination.html' %}

    <div class="mt-5">
        <a href="{% url 'task-create' %}">add a new task</a>
        <table class="table table-hover mt-3">
            <thead>
                <tr>
                    <th>title</th>
                    <th>deadline</th>
                    <th>list</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td onclick="window.location.href=' {% url 'task-update' task.id %} '">{{ task.title }}</td>
                        <td>{{ task.deadline }}</td>
                        <td>{{ task.task_list.date }}</td>
                        <td>
                            <a href="{% url 'task-delete' task.id%}">delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}