<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    {% if request.user.is_authenticated %}
        <p> {{ request.user }}</p>
        <a href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
    <hr>

    <h1>Dashboard</h1>


    <p><a href="{% url 'backlog' %}"> backlog </a></p>

    <table>
        <tr>
            <th>Lists</th>
        </tr>
        {% for list in lists %}
            <tr>
                <td> {{ list.title }}</td>
                <td> <a href = "{% url 'tasks' list.id %}">view</a></td>
                <td> <a href = "{% url 'list-delete' list.id %}">delete</a></td>
            </tr>
            {% empty %}
            <h3> no list in lists </h3>
        {% endfor %}
    </table>

</body>
</html>